.menu__link {
  margin-right: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  transition: opacity 200ms ease-in-out;
}

.menu__link:last-of-type {
  margin: 0;
}

.menu__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .menu__link {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .menu__link:last-of-type {
    margin-bottom: 48px;
  }
}