.website__link {
  padding: 12px 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: opacity 200ms ease-in-out;
}

.website__link:hover {
  opacity: 0.8;
}