.place {
  display: grid;
  width: 100%;
  padding: 0 0 80px;
  grid-template-columns: 460px 484px;
  grid-template-rows: minmax(min-content, max-content) minmax(460px, max-content);
  grid-template-areas:
  "place__title website"
  "place__img paragraphes";
  gap: 48px 40px;
}

.place:last-of-type {
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 47.41% 49.14%;
    gap: 48px 3.45%;
    grid-template-rows: minmax(min-content, max-content);
  }
}

@media screen and (max-width: 1023px) {
  .place {
    padding: 0 0 58px;
    grid-template-columns: 47.22% 48.89%;
    gap: 48px 3.89%;
    grid-template-rows: minmax(min-content, max-content);
  }
}

@media screen and (max-width: 600px) {
  .place {
    padding: 0 0 48px;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(min-content, max-content);
    grid-template-areas:
    "place__title"
    "website"
    "place__img"
    "paragraphes";
    gap: 32px;
  }
}