.place__url-heading {
  display: flex;
  margin: 0 0 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    padding-left: 16px;
  }
}